### all ignore
/*

### not ignore
!.gitignore
!*.code-workspace
!/.config
!/bash
!/git
!/mise
!/scripts
!/skills
!/tips
!/vscode
!Makefile
!README.md

### specific ignore
node_modules/
private.txt
projects.txt
