[core]
    editor = vim
    quotepath = false
[commit]
	template = ~/.gitmessage.txt
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
